$black: #1A1717;
$gray: #292929;
$melon: #DFEFE2;
$green: #33AB03;
$neon-green: #62FF0D;
$dark-green: #1B5C02;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;
