<div class="row" ng-controller='ScheduleController'>
	<div class="small-12 medium-12 large-8 large-centered columns">
		<h1>Lab Schedule</h1>
		<table width = "100%" class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Lab</th>
		      <th>Release Date</th>
		      <th>Due Date</th>
		    </tr>
		  </thead>
		  <tbody>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href = "#/lab1">Know Your Tools</a></td>
		    	<td>08/26</td>
		    	<td>08/30</td>
		    </tr>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href = "#/lab2">Text Editor</a></td>
		    	<td>09/03</td>
		    	<td>09/13 11:59pm</td>
		    </tr>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href = "#/lab3">Utilities Unleashed</a></td>
		    	<td>09/10</td>
		    	<td>09/16 11:59pm</td>
		    </tr>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href = "#/lab4">Code Review</a></td>
		    	<td>09/16</td>
		    	<td>09/23 11:59pm</td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>
</div>
