<div class="row" ng-controller='ScheduleController'>
	<div class="small-12 medium-12 large-8 large-centered columns">
		<h1>Lab Schedule</h1>
		<table width = "100%" class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Lab</th>
		      <th>Release Date</th>
		      <th>Due Date</th>
		    </tr>
		  </thead>
		  <tbody>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href = "#lab1">Know Your Tools</a></td>
		    	<td>8/26</td>
		    	<td>8/30</td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>
</div>
