<div class="row" ng-controller='LabController'>
	<div class="small-12 medium-12 large-8 large-centered columns">
		<h1>Labs TBA</h1>
		<!-- <table width = "100%" class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Lab</th>
		      <th>Release Date</th>
		      <th>Due Date</th>
		    </tr>
		  </thead>
		  <tbody>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric">Pointers Gone Wild!</td>
		    	<td>9/15</td>
		    	<td>9/31</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Malloc</td>
		    	<td>9/15</td>
		    	<td>9/31</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Shell</td>
		    	<td>9/15</td>
		    	<td>9/31</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Parallel Merge</td>
		    	<td>9/15</td>
		    	<td>9/31</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Parmake</td>
		    	<td>9/15</td>
		    	<td>9/31</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Map Reduce</td>
		    	<td>9/15</td>
		    	<td>9/31</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Key Value Store</td>
		    	<td>9/15</td>
		    	<td>9/31</td>
		    </tr>
		  </tbody>
		</table> -->
		</div>
	</div>
</div>
