<div class="row" ng-controller='MPController'>
	<div class="small-12 medium-12 large-8 large-centered columns">
		<h1>Machine Problems</h1>
		<table width = "100%" class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Lab</th>
		      <th>Release Date</th>
		      <th>Due Date</th>
		    </tr>
		  </thead>
		  <tbody>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href = "./mps/mp0">Pointers Gone Wild!</a></td>
		    	<td>Week 2</td>
		    	<td>Week 3</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href="./mps/mp1">Extreme Edge Cases </a></td>
		    	<td>Week 3</td>
		    	<td>Week 4</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href="./mps/mp2">What the Shell Part 1</a></td>
		    	<td>Week 4</td>
		    	<td>Week 5</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href="./mps/mp2">What the Shell Part 2</a></td>
		    	<td>Week 5</td>
		    	<td>Week 6</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric"><a href="./mps/mp3">Malloc</a></td>
		    	<td>Week 6</td>
		    	<td>Week 8</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Multithreaded Matrix Multiplication</td>
		    	<td>Week 8</td>
		    	<td>Week 10</td>
		    </tr>
		    <tr>
		    	<td class="mdl-data-table__cell--non-numeric">Parallel Make</td>
		    	<td>Week 10</td>
		    	<td>Week 12</td>
		    </tr>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric">Map Reduce</td>
		    	<td>Week 12</td>
		    	<td>Week 14</td>
		    </tr>
				<tr>
		    	<td class="mdl-data-table__cell--non-numeric">Key Value Store</td>
		    	<td>Week 14</td>
		    	<td>Week 16</td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>
</div>
