<div class="row" ng-controller='MPController'>
	<h1>CS 241 Machine Problems</h1>
	<table width = "100%;">
	  <thead>
	    <tr>
	    	<th>Machine Problem</th>
	      <th>Release Date</th>
	      <th>Due Date</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	    	<td>Malloc</td>
	    	<td>9/15</td>
	    	<td>9/31</td>
	    </tr>
	    <tr>
	    	<td>Malloc</td>
	    	<td>9/15</td>
	    	<td>9/31</td>
	    </tr>
	    <tr>
	    	<td>Shell</td>
	    	<td>9/15</td>
	    	<td>9/31</td>
	    </tr>
	    <tr>
	    	<td>Parallel Merge</td>
	    	<td>9/15</td>
	    	<td>9/31</td>
	    </tr>
	    <tr>
	    	<td>Parmake</td>
	    	<td>9/15</td>
	    	<td>9/31</td>
	    </tr>
	    <tr>
	    	<td>Map Reduce</td>
	    	<td>9/15</td>
	    	<td>9/31</td>
	    </tr>
	    <tr>
	    	<td>Key Value Store</td>
	    	<td>9/15</td>
	    	<td>9/31</td>
	    </tr>
	  </tbody>
	</table>
</div>