<div class = "row" ng-controller='StaffController'>
	<div class = "small-8 medium-8 large-10 large-centered small-centered columns">
		<div ng-repeat = "member in staff | orderBy:'netid' track by member.netid" class = "small-12 medium-12 large-3 columns" title="{{member.roles}} interested in {{member.speciality}} and has been on staff for {{member.semsters}}" >
			<div class = "pad">
				<div class="card-staff mdl-card mdl-shadow--2dp" style = "background: url('./data/images/staffPhotos/{{member.netid}}.jpg') no-repeat; background-size: cover;">
					<div class = "spacer" style = "height: 0; padding-bottom: 85%; width:100%;">
						<!-- Horrible Hack! Please fix me -->
					</div>
					<div style = "width: 100%; background: rgba(0, 0, 0, 0.7);">
						<div class = "floater" style = "height: 0; padding-bottom: 15%; width:80%;margin: 3% auto">
							<span style = "color: white; float:left">{{member.name}} '{{member.class}}</span>
							<span data-tooltip aria-haspopup="true" class="has-tip" title="{{member.netid}}@illinois.edu" style = "float:right;position:relative">
								<span class="icon material-icons">
									<i class="material-icons"><a style ="color:white;" href = "mailto:{{member.netid}}@illinois.edu?Subject=CS241%20Student">mail</a></i>
								</span>
							</span>
							<!-- <span style = "color: white"></span> -->
						</div>
					</div>
					<!-- <div class="mdl-card__menu">
						<span data-tooltip aria-haspopup="true" class="has-tip" title="{{member.netid}}@illinois.edu">
							<div class="icon material-icons">
								<i class="material-icons"><a style ="color:white" href = "mailto:{{member.netid}}@illinois.edu?Subject=CS241%20Student">mail</a></i>
							</div>
						</span>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="card-staff mdl-card mdl-shadow--2dp" style = "background: url('./data/images/staffPhotos/{{member.netid}}.jpg') center / cover;">
	<div class="mdl-card__title mdl-card--expand">
		<h2 class="mdl-card__title-text" style = "color: white">{{member.name}} '{{member.class}}</h2>
	</div>
	<div class="mdl-card__actions">
		<span class="card-staff__info">{{member.roles}} interested in {{member.speciality}} and has been on staff for {{member.semsters}}</span>
	</div>
	<div class="mdl-card__menu">
		<span data-tooltip aria-haspopup="true" class="has-tip" title="{{member.netid}}@illinois.edu">
			<div class="icon material-icons">
				<i class="material-icons"><a style ="color:white" href = "mailto:{{member.netid}}@illinois.edu?Subject=CS241%20Student">mail</a></i>
			</div>
		</span>
	</div>
</div> -->
